<!-- components/exclusive.html -->
<section id="exclusive">
  <div class="exclusive-container">
    <h2>New Drops</h2>
    <p>
      Stay ahead with limited–edition releases. Unlock exclusive content
      tailored for digital art connoisseurs.
    </p>
    <div class="exclusive-grid">
      <!-- First card (locked) -->
      <div class="exclusive-card locked">
        <div class="lock-overlay">
          <img src="assets/svg/lock.svg" alt="Locked Content" class="lock-icon">
        </div>
        <div class="card-content">
          <img
            src="assets/images/placeholder4.png"
            alt="Exclusive Artwork Preview"
            loading="lazy"
          />
          <div class="exclusive-details">
            <h3>[classified]</h3>
            <p>A new [classified].</p>
            <a href="/genesis.html" class="cta-button">Unlock Access</a>
          </div>
        </div>
      </div>
      <!-- Middle card (unlocked) -->
      <div class="exclusive-card">
        <img
          src="assets/images/placeholder6.png"
          alt="Exclusive Artwork Preview"
          loading="lazy"
        />
        <div class="exclusive-details">
          <h3>I. Fountain</h3>
          <p>Number I coming soon.</p>
          <a href="https://www.etsy.com/shop/BitHeadOfficial" target="_blank" class="cta-button"
            >Discover More</a
          >
        </div>
      </div>
      <!-- Last card (BitHeadz Art Engine) -->
      <div class="exclusive-card">
        <img
          src="assets/images/NFT_Generator.jpg"
          alt="BitHeadz Art Engine Preview"
          loading="lazy"
        />
        <div class="exclusive-details">
          <h3>NFT Generator</h3>
          <p>Generate NFT collections!</p>
          <a href="resources/bithead-art-engine.html" class="cta-button">Launch App</a>
        </div>
      </div>
    </div>
  </div>
</section>
