<header style="display:none;" id="main-header">
  <div class="nav-logo">
    <a data-section="hero" href="/">
      <img src="/assets/svg/BitHeadLogo.svg" alt="BitHead Logo" class="bithead-logo" style="height: 2rem; vertical-align: middle; margin-right: 0.5rem;" />
      BITHEAD
    </a>
  </div>
  <div class="nav-container">
    <nav>
      <ul class="nav-links">
        <li><a data-section="about" href="/#about">About</a></li>
        <li><a data-section="portfolio" href="/#portfolio">Portfolio</a></li>
        <li><a data-section="snake-section" href="/#snake-section">Snake</a></li>
        <li><a data-section="nft-mint" href="/#nft-mint">NFT</a></li>
        <li><a data-section="shop" href="/#shop">Shops</a></li>
        <li><a data-section="exclusive" href="/#exclusive">Drops</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a data-section="cta" href="/#cta">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="hamburger">☰</div>
</header>
<script>document.getElementById('main-header').style.display = 'flex';</script>
