/* skills.css */
#skills {
  padding: 6rem 2rem;
  background: #000;
  text-align: center;
}

.skills-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.skills-container p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 3rem;
}

/* Positioning Cross Styles */
.cross-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.horizontal-line,
.vertical-line {
  position: absolute;
  background: #fff;
}
.horizontal-line {
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
}
.vertical-line {
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
}
